@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  max-height: 400px;
}

@media (min-width: 768px) {
  .chart-container {
    height: 350px;
  }
}

.flashcard {
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.flashcard-face {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flashcard.is-flipped {
  transform: rotateY(180deg);
}

.flashcard-back {
  transform: rotateY(180deg);
}